body{
    text-align: center;
    font-family: Tahoma, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(220, 220, 220), rgb(100, 100, 100));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

head{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

a:hover{
    color: white;
}

.example{
    font-size: 5vw;
    width: 50vw;
    height: 50vw;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(50vw, 0vh) translateX(-50%);
}